/* إعدادات عامة */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

/* معرض الصور */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.image {
    margin: 10px;
    border: 1px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}
